@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 4px;
    color: rgba(153, 153, 153, 1);
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(255, 252, 252, 1);
    margin: 15px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgba(153, 153, 153, 0.7);
    border-radius: 10px;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(153, 153, 153, 1);
  }
}

* {
  box-sizing: border-box;
}

#root {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  overflow-y: auto;
}

html,
body {
  font-family: Mulish, Arial, sans-serif;
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@font-face {
  font-family: "Mulish";
  src: url("../shared/ui/assets/fonts/Mulish-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Mulish";
  src: url("../shared/ui/assets/fonts/Mulish-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Mulish";
  src: url("../shared/ui/assets/fonts/Mulish-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Mulish";
  src: url("../shared/ui/assets/fonts/Mulish-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Mulish";
  src: url("../shared/ui/assets/fonts/Mulish-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Mulish";
  src: url("../shared/ui/assets/fonts/Mulish-ExtraBold.ttf");
  font-weight: 800;
}
